
body {
    background-color: #2b2d42;
    z-index: -1;
    
}

div {
    margin: 2em auto;
    background-color: #8d99ae;
    border: 2px solid black;
    box-shadow: 2px 2px 4px black;
    text-align: center;
    border-radius: 1.2em;
    
}

button {
    width: 6em;
    height: 4em;
    border-radius: 1.4em;
    background-color: #e0e1dd;
    font-size: 1em;
}

button a{
    text-decoration: none;
    color: black;
}

button:hover {
    box-shadow: 2px 2px 4px black;
    width: 6.5em;
    height: 4.5em;
    
}

